<div class="container-fluid">

    <div class="row p-5"  style="background-color:#e8c39c;color: #000;">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3">Herbario <i class="bi bi-flower1"></i></p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Servicios</p>
            
            <div class="mb-3">
                <a class=" text-decoration-none" style="color: #000;" href="">Catering</a>
            </div>
            
            <div class="mb-3">
                <a class=" text-decoration-none" style="color: #000;" href="">Empresarial</a>
            </div>

            <div class="mb-3">
                <a class=" text-decoration-none" style="color: #000;" href="">Casual</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Políticas</p>
            <div class="mb-3">
                <a class=" text-decoration-none" style="color: #000;" href="">Términos y Condiciones</a>
            </div>
            
            <div class="mb-3">
                <a class=" text-decoration-none" style="color: #000;" href="">Política de Privacidad</a>
            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Redes Sociales</p>
            <div class="mb-2">
                <a class=" text-decoration-none" style="color: #000;" href=""><i class="bi bi-facebook"></i>  ElHerbario</a>
            </div>
    
            <div class="mb-2">
                <a class=" text-decoration-none" style="color: #000;" href=""><i class="bi bi-instagram"></i>  @ElHerbario</a>
            </div>

            <div class="mb-2">
                <a class=" text-decoration-none" style="color: #000;" href=""><i class="bi bi-whatsapp"></i>  +57 300 5598878</a>
            </div>


    </div>
</div>
